<div *ngIf="user">
    <mat-card>
      <mat-card-header>
        <img mat-card-md-image [src]="user.photoURL || '//:0'" alt="{{user.displayName}}">
        <div  class="user-title">
          <mat-card-title>{{user.displayName}}</mat-card-title>
          <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{user.uid}}
        </p>
      </mat-card-content>
    </mat-card>
</div>
