main {
  display: grid;
  align-items: center;
  grid-template-rows: 100vh;
}
section {
  max-width: 600px;
  margin: auto;
}
mat-form-field {
  width: 100%;
}
button {
  width: 100%;
  margin-top: 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
  