<app-user-list-item *ngFor="let user of users | async" [user]="user"></app-user-list-item>

<!-- <ul>
  <li *ngFor="let user of users | async">
      <mat-card class="user-card">
        <mat-card-header>
          <div mat-card-avatar class="user-header-image"></div>
          <mat-card-title>{{user.displayName}}</mat-card-title>
          <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="user.photoURL" alt="{{user.displayName}}">
        <mat-card-content>
          <p>
            {{user.uid}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
  </li>
</ul> -->
