<mat-toolbar>
  <button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-button (click)="editing=false" *ngIf="editing">Done</button>
  <button mat-button (click)="editing=false" *ngIf="!editing">Edit Profile</button>
</mat-toolbar>
