<main>
  <section>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <h3>Welcome to Good Faith Paradigm</h3>
      <p>Let's Get Started</p>

      <mat-form-field [formGroup]="signUpForm">
        <input matInput placeholder="Enter you email" [formControl]="email" required>
        <mat-error *ngIf="email.valid">Not a valid email</mat-error>
      </mat-form-field>

      <mat-form-field [formGroup]="signUpForm">
        <input matInput placeholder="Enter you password" [type]="hide ? 'password' : 'text'" [formControl]="password"
          required>
        <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align="end">
          <a routerLink="/reset-password">Forgot password?</a>
        </mat-hint>
        <mat-error *ngIf="password.valid">Not a valid password</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" color="accent">Sign Up</button>
    </form>
  </section>
</main>
