<main>
  <section>
    <h2>Forgot your password?</h2>
    <p>We can send you a reset link</p>

    <mat-form-field>
      <input matInput placeholder="Enter you email" [(ngModel)]="email" required>
    </mat-form-field>

    <button mat-raised-button (click)="resetPassword()" color="accent">Reset Password</button>

  </section>
</main>
